.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  cursor: pointer;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #333;
  background: #eef4f9;
  color: #fff;
  color: #2d4562;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  color: #2d4562;
}

.logo_img {
  width: 50px;
}

img {
  vertical-align: top;
}

.wrapper_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 23%;
  margin: 0.5em;
  padding: 10px;
  box-shadow: 0 0 12px #2d456280;
  border-radius: 8px;
  transition: all ease 0.5s;
}

.food:hover {
  box-shadow: 0 0 22px #2d45628c;
}

.box_top__up {
  display: flex;
  justify-content: center;
}

.box_top__img {
  width: 70%;
}

.box_top__center {
  text-align: center;
}

.box_top__center_name {
  font-size: 20px;
  margin: 20px 0;
}

.box_top__center_price {
  margin-top: 5px;
}

.box_top__center_price:not(:first-child) {
  margin-top: 5px;
}

.box_top__down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn {
  width: 90%;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  background-color: #ef6500;
  border-radius: 8px;
  color: white;
  transition: all ease 0.5s;
  border: none;
}

.btn:hover {
  background-color: #79c400;
  box-shadow: 0 0 22px #79c400;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  background-color: #2d4562;
}

.KitPes_SHOP {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.button__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-light-txt);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__close:hover, .button__close:focus {
  cursor: pointer;
  fill: var(--accent-dark-txt);
}

.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  box-shadow: 0 0 12px #2d456280;
  border-radius: 8px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    width: 90%;
    height: 90%;
    min-width: 0;
    min-height: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
    min-width: 0;
    min-height: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-width: 0;
    min-height: 0;
  }
}

.window {
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: 448px;
  min-height: 40px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .window {
    padding: 34px 15px;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}

.window__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .window__subtitle {
    font-size: 15px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .window__subtitle {
    line-height: 1.5;
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.label__text {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.label__input {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  outline: #2762af;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
}

.label__input:hover, .label__input:focus {
  cursor: pointer;
  border: 1px solid #2762af;
}

.label__input:hover + .label__icon,
.label__input:focus + .label__icon {
  cursor: pointer;
  fill: #2762af;
}

.label__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -35%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__textarea {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 40px;
  outline: #2762af;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label__textarea:hover, .label__textarea:focus {
  cursor: pointer;
  border: 1px solid #2762af;
}

.label__mailing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.label__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.label__checkbox:checked + .label__check {
  border-color: #2762af;
  background-color: #2762af;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.label__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 8px;
}

.label__subtitel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .label__subtitel {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .label__subtitel {
    font-size: 12px;
    line-height: 1.167;
  }
}

.label__treaty {
  color: #2762af;
}

.feedback {
  height: 120px;
  resize: none;
}
/*# sourceMappingURL=main.css.map */