.modal {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;

  min-width: 90%;
  min-height: 60%;

  background-color: white;
  box-shadow: 0 0 12px #2d456280;
  border-radius: 8px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    min-width: 450px;
    min-height: 400px;
  }

  @include mq(tablet) {
    min-width: 450px;
    min-height: 300px;
  }

  @include mq(desktop) {
    min-width: 400px;
    min-height: 300px;
  }
}
