.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: "Roboto";
  min-height: 70px;
  min-width: 70px;
  z-index: 10;
  bottom: 15%;
  right: 2.5%;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.15s ease-out;
  text-decoration: none;
  background-color: #029019c2;
  border-radius: 50%;
  animation: pulse 2s infinite;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
}
.button__text {
  display: flex;
}
.button:hover {
  color: #543ba8 !important;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.panel-grid-cell section {
  padding: 80px 0;
  z-index: 999;
  text-align: center;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.btn:hover {
  background-color: #9ececc;
}

.mfp-close-btn-in .mfp-close {
  color: #999 !important;
}

/* modal windows */

.mfp-content {
  background-color: rgba(121, 255, 80, 0.753) !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center !important;
  background: #2f3847;
  max-width: 280px;
  z-index: 1045;
  height: auto;
  padding: 0.8%;
  border-radius: 4px;
}

a.popup-modal-dismiss {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  background: transparent;
}

.mfpcontentBorder {
  max-width: 310px;
  border: 1px solid #e1e1e1;
  padding: 4% 5% 0.8%;
}

.fa-times:hover {
  content: "\f00d";
  color: #f7943c;
}
.fa-times {
  padding: 15px 0px 0px 18px;
  display: inline-block;
}

.putNumber,
.putName,
.putPhone {
  width: 210px !important;
  padding: 9px 10px !important;
  height: 40px !important;
  background: rgba(255, 255, 255, 0.62) !important;
  margin-bottom: 15px;
  border-radius: 2px !important;
  border: none !important;
  outline: none !important;
  margin: 10px auto;
  font-family: Alice, serif;
  font-size: 18px;
}

input.putName:focus,
input.putPhone:focus {
  box-shadow: 0 0 2px 1px #ffcc00 !important;
}

#form > input.btn {
  margin-top: 10px;
}

p.title {
  margin: 15px 10px 2px !important;
  color: #e1e1e1 !important;
  line-height: 1.4 !important;
  font-size: 22px;
}

#form {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

input.btn {
  width: 210px;
  height: 40px;
  background: rgba(229, 115, 115, 0.78);
  margin: 10px 0px 15px !important;
  border-radius: 2px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  line-height: 1;
}

input.btn:hover {
  color: #000;
}
