.filterDiv {
  display: none;
}

.show {
  display: block;
}

.btn {
  padding: 10px;
  margin-right: 5px;
  width: 100%;
  border-radius: 8px;
  transition: all ease 0.5s;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  background-color: #ef6500;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;

  @include mq(tablet) {
    font-size: 14px;
    line-height: 1.2;
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.4;
  }
}

.btn:hover {
  background-color: #79c400;
}

.dropdown-content {
  display: flex;
  width: 100%;

  z-index: 1;
  border-radius: 8px;
  border: none;
  outline: none;

  @include mq(tablet) {
    font-size: 14px;
    line-height: 1.2;
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.4;
  }
}
