@import "./reset";

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #eef4f9;
  color: black;
  font-family: "Roboto", "Open Sans", sans-serif;
}

img {
  vertical-align: top;
}

.footer {
  margin-top: 20px;
  background-color: #2d4562;
}
.KitPes_SHOP {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.button__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-light-txt);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--accent-dark-txt);
  }
}
